<div class="jumbotron cJumbotron2">
	<h3 class="cUserWelcome">Hello <%= user.name %></h3>
	<hr class="cLinksContLine">
	<br>
	<div id="myTabContent" class="tab-content">
	  <div class="tab-pane fade active show" id="portfolio">
		<div class="row mt-1">
			<div class="col-md-6 m-auto">
				<div class="card card-body">
					<form action="/api/v1/upload" enctype="multipart/form-data" method="POST">
						<div class="container">
							<div class="row justify-content-md-center">
								<h4>File Upload</h4>	
							</div>
							<div class="row justify-content-md-center">
								<label form-label" for="visibility">Public</label>
								<input style="margin: 5px;" type="radio" name="visibility" value="public" checked>	
								<label class="form-label" for="visibility">Private</label>
								<input style="margin: 5px;" type="radio" name="visibility" value="private">
							</div>
							<div class="row justify-content-md-center">
								<label class="form-label" for="upload">Allowed formats are .png, .jpg, .jpeg and .gif</label>
								<!-- <input id="filename" type="file" name="upload" multiple> -->
								<input id="filename" type="file" name="upload">
								<input type="submit" class="btn btn-primary" value="Upload">
							</div>
							<div class="row justify-content-md-center">
								<%- include('./partials/messages.ejs') %>
							</div>
						</div>	
					</form>	
				</div>
			</div>
		</div>
		<br>
		<h5 class="cUserWelcome">Your images in the cloud</h5>
		
		<table class="table table-hover">
		  <thead>
			<tr>
			  <th scope="col">Name</th>
			  <th scope="col">Date</th>
			</tr>
		  </thead>
		  <tbody>
			<%if (userImages) { %>  
				<%userImages.forEach(function(image) { %>
				<tr>
				<th scope="row"> <%= image.name %></th>
				<th scope="row"> <%= image.date %></th>
				<th scope="row"> 
					<button onclick="downloadImage(this)" id="<%= image.id %>" class="btn btn-success">Download
						<i class="fa fa-download fa-lg"></i>
					</button>
				</th>
				<th scope="row"> 
					<button onclick="deleteImage(this)" id="<%= image.id %>" class="btn btn-danger">Delete
						<i class="fa fa-trash fa-lg"></i>
					</button>
				</th>
				</tr>
				<%}); %>
			<% } %>
		  </tbody>
		</table>
	  </div>
	  </div>
	</div>
</div>

<script>
	const API = 'api/v1';

	const deleteImage = context => {
		fetch(API + '/delete/' + context.id, {
    		method: 'post'
  		}).then(() => {
			location.reload();
		  }).catch();
	};

	const downloadImage = context => {	
		fetch(API + '/download/' + context.id, {
    		method: 'get'
  		}).then(() => {
			//http://localhost:3000/dashboard/api/v1/download/5fea6717e76ada410bc6967e
			//http://localhost:3000/api/v1/download/5fea6717e76ada410bc6967e
			// const URL = window.location.origin + "/" + API + '/download/' + context.id;
			// console.log(URL);
			// window.open(URL, '_blank');	
		  }).catch();
	};
</script>